.customNav{
    background-color: #fcf9f9;
    border-bottom: 1px solid #e5e5e5;
    height: 80px;
    top: 0;
    width: 100%;
    z-index: 1;
}
.NavCol{
    color: blue;
    font-size: 18px;
    font-weight: 800px;
    padding-right: 80px;
}
.NavCol:hover{
    color: rgb(16, 115, 165);
    text-decoration: underline 2px rgb(24, 145, 205);
    text-underline-offset: 5px;
}