.customNav{
    background-color: #fcf9f9;
    border-bottom: 1px solid #e5e5e5;
    height: 80px;
    top: 0;
    width: 100%;
    z-index: 1;
}
.active1{
    color: rgb(34, 42, 57);
}
.navinline{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.navinline p{
    padding-top: 18px;
    font-weight: 500;
    color: rgb(40, 50, 71);
    font-family: Maax,sans-serif;
}
.navspace{
    padding: 0 30px;
}
.NavCol{
    color: blue;
    font-size: 18px;
    font-weight: 600;
    padding-right: 80px;
}
.NavCol:hover{
    color: rgb(16, 115, 165);
    text-decoration: underline 2px rgb(24, 145, 205);
    text-underline-offset: 5px;
}